@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

html {
    height: 100%;
    background-color: #F2F2F2;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom:0;
    color: #333333;
    font-weight: 400;
    width:1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.blue-button {
    font-family: inherit;
    padding: 14px 15px;
    background-color: #82B3D3;
    border-radius: 4px;
    text-decoration: none;
    font-weight:700;
    font-size: 16px;
    line-height: 20px;
    text-align:center;
    text-transform: uppercase;
    color:white;
    border-style: none;
    min-width: 140px;
    cursor: pointer;
}

.brown-button {
    font-family: inherit;
    padding: 9px 15px 8px 15px;
    background-color: #756157;
    border-radius: 4px;
    text-decoration: none;
    font-weight:700;
    font-size: 16px;
    line-height: 20px;
    text-align:center;
    text-transform: uppercase;
    color:white;
    border-style: none;
    min-width: 140px;
    cursor: pointer;
}



header {
    display:flex;
    align-items: center;
    color:#000000;
    font-size: 20px;
    font-weight: 700;
    height: 65px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header img{
    margin:0;
}

.page-logo {
    align-self:flex-start;
    margin: 0;
    margin-left: 70px;
    height:70px;
}

.header-logo {
    position: relative;
}
 
header ul {
    list-style: none;
    display:flex;
    margin:auto;
    margin: 0;
    padding-left: 30px;
    width: 390px;
}

header li{
    padding-top:20px;
    padding-bottom:20px;
    padding-right:34px;
    text-transform: capitalize;
}


.navigation-current {
    border-bottom: 2px solid #756257;
    padding-bottom: 19px;
}

.user-navigation-list {
    width:84px;
    margin-top:0;
    margin-left:auto;
}

.header-search-popup-call {
    margin-left:auto;
  margin-right: 70px;
  min-width: 160px;
}

.main-container {
    flex-grow: 1;
  }

.page-welcome {
    background-image: url(../images/index-background-divider.svg), url(../images/index-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    background-size: auto auto, auto auto;
    height: 485px;
    margin-bottom: 51px;
    background-color: white;
}


.page-welcome img{
    padding-left: 30.92%;
    padding-top: 51px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.advantages {
    text-align:center;
    width:auto;
    margin-bottom: 91px;
}

.advantages img {
    margin:0;
}

h2,
.head2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantges-title {
    margin-bottom: 31px;
}

.advantages-intro {
   margin-bottom: 90px; 
}

.advantages-list li {
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.advantages-list h3,
.advantages-list h4,
.advantages-list p{
    margin-top: 0;
    margin-bottom: 0;
}

.advantages-list .middle-text{
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantage-item-container {
    width: 400px;   
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.advantages-list {
    display:flex;
    flex-wrap:wrap;
    font-size: 18px;
    line-height: 21px;
    list-style: none;
    padding-left:0;
    margin:0;
}

.advantages-item-sub {
    display:flex;
    list-style: none;
    padding-left:0;
    min-width: 100%;
    background-color: white;
    color:#333333
}


.advantages-item-sub h4 {
    color: black;
}

.background1 {
    background-color: white;
}

.background2 {
    background-color: #82B3D3;
    color: white;
}

.background3 {
    background-color: rgba(131, 179, 211, 0.12);
}

.background4 {
    background-color: rgba(131, 179, 211, 0.2);
} 

.head3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}


.interesting{
    text-align: center;
    margin-bottom:93px;

}

.interesting-title {
    margin-top: 0;
    margin-bottom: 29px;
}

.interesting-description {
    margin-bottom: 56px;
}


.interesting .brown-button {
    padding: 12px 15px;
    font-size: 20px;
    line-height: 36px;
    height: 60px;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    min-width: 574px;
}

.site-subscribe {
    background-image: url(../images/subscribe-background.jpg);
    background-size: 100% auto;
    padding-top:94px;
    padding-bottom:94px;
    color:white;
    background-color: #82B3D3;
}

.subscribe-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 29px;
}

.subscribe-description {
    text-align: center;
    margin-bottom: 46px;
}

.email-input {
    background-color: #F2F2F2;
    width:576px;
    height:60px;
    margin-left:200px;
    border-radius: 10px 0px 0px 10px;
    border-style: none;
    padding-left: 22px;
    font-size: 18px;
    line-height: 21px;
    font-family: inherit;
    color:#333333;
    border: 0px;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
}

.button-subscribe {
    
    min-width:200px;
    height:60px;
    margin-left:800px;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    font-size: 18px;
    line-height: 21px;
    font-family: inherit;
    padding: 12px 15px;
    font-size: 20px;
    line-height: 36px;
}

.index-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:70px;
    margin-right: 70px;
    padding-top:40px;
    padding-bottom:30px;
}

.social-list {
    display:flex;
    list-style: none;
    padding-left: 0;
    width:142px;
}

.phone{
    display: block;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.html-logo {
    display: block;
    
    width:115px;
    padding:0;
}

.html-logo-pic {
    display:block;
    margin:8px 0;

}

.filter-container {
    background-image: url(../images/catalog/catalog-background.jpg);
    background-color: white;
    background-repeat: space;
    padding: 35px 70px 70px;
    color:white;
    margin-bottom: 5px;
}

.filter-container a,
.filter-container button {
    color:white;
}

.head1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    text-transform: capitalize;
}

.catalog-navigation-title {
    color:white;
    margin:0;
    margin-bottom: 10px;
}

.catalog-navigation-breadcrumbs{
    margin:0;
    margin-bottom: 40px;
    padding-left:0;
}

.catalog-breadcrumbs-item {
    display: inline;
    text-transform: capitalize;
}

.small-text {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

.catalog-filter-form {
    padding:0;
    margin:0;
    display: flex;
    justify-content: space-between;
}

.catalog-filter-group {
   border:none;
   margin: 0;
   padding:0;
   
}

.catalog-filter-group > input {
    display: block;
}

.check-wrapper {
    display: flex;
    gap: 70px;
}

.catalog-filter-type {
    padding:0;
    margin-bottom: 30px;
}

.head4 {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 21px;
    margin-top: 15px;
}

.catalog-filter-item:nth-child(1) {
    margin-top: 0;
}

.catalog-filter-list {
    list-style-type: none;
    padding:0;
    margin:0;    
}

.price-buttons-wrapper {
    display: flex;
    justify-content: end;
    gap: 70px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.catalog-filter-reset {
    margin-top:20px;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    text-align:center;
    text-transform:capitalize;
    color:white;
}

.catalog-result {
    color: #000;
    padding-left: 72px;
    padding-right: 71px;
    padding-top: 50px;
    margin-bottom:25px;
}

.sort-wrapper {
    display:flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.results-title{
    margin:0;
}

.result-control {
    min-width:290px; 
    font-size: 14px;
    inline-size: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left:20px;
}

.view-list{
    margin:0;
    padding:0;
}

.view-list li {
    display: inline;
}

.hotel-list {
    
}

.catalog-subscribe {
    background-image: none;
    background-color: white;
}

.catalog-subscribe h2{
    color: black;
}

.catalog-subscribe p {
    color:#333333;
}
